:root {
  --background-color: black;
  --font-family: 'Trebuchet MS', sans-serif;
  --color: white;
  --size: 30px}

body {
background-color: var(--background-color);
font-family: var(--font-family) ;
font-stretch: extra-condensed;
font-size: var(--size);
color: var(--color);
}

a { color: var(--color);
text-align: center;
text-decoration: none;
}

#SM {width:100px;
  height:100px;
 }
#p {text-align: center;}

#container {
  display: grid;
  grid-template-columns:
  [c-1] minmax(250px, 250px)
  [c-2] minmax(250px, 250px)
  [c-3] minmax(270px, 270px);
  grid-template-rows:
  [r-1] minmax(90px, 1fr)
  [r-2] minmax(70px, 1fr)
  [r-3] minmax(70px, 1fr);
  grid-template-areas:
  "h h s"
  "c a a"
  "e e e";
  grid-gap: 10px;

  }

.Home{
  border-radius: 20px;
  border-color: white;
  grid-area: h;
  border: solid 10px;
}

.SM{
  border-radius: 20px;
  border-color: white;
  grid-area: s;
border: solid 10px;
}

.CV{
  grid-area: c;
  border-color: white;
  border-radius: 20px;
border: solid 10px;
}

.AboutME{
  grid-area: a;
  border-color: white;
  border-radius: 20px;
border: solid 10px;
}

.Experience{
  grid-area: e;
  border-color: white;
  border-radius: 20px;
border: solid 10px;
}
